a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 !important;
  border: 0 none !important;
  outline: 0 !important;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #e3edf7;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.container-fluid {
  position: relative;
  width: 96%;
}
#sha_app {
  padding: 20px 7px;
}
#sha_header_bar {
  color: rgba(49, 69, 106, 0.6);
}
#sha_header_bar span {
  display: block;
}
#sha_header_bar span.sub-heading {
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px;
  color: #31456a;
}
#sha_header_bar span.heading {
  color: #31456a;
  font-size: 25px;
  font-weight: 600;
  margin-top: -5px;
}
#sha_temp_body {
  text-align: center;
  margin-top: 30px;
}
#sha_temp_meta {
  margin-top: 20px;
}
#sha_temp_meta .sha_tile > div {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 15px;
  padding: 22px;
  box-shadow: 15px 5px 20px -10px rgba(0, 0, 0, 0.15),
    -15px -5px 20px -10px rgba(255, 255, 255, 0.8);
}
#sha_temp_meta .sha_tile > div span.tile_number {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  background-color: rgba(0, 0, 0, 0.01);
  color: #31456a;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
#sha_temp_meta .sha_tile > div span.tile_info {
  position: absolute;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  padding-left: 14px;
  margin-top: 5px;
}
#sha_temp_meta .sha_tile > div span.tile_info span {
  display: block;
  font-weight: 400;
  color: rgba(49, 69, 106, 0.5);
}
#sha_temp_meta .sha_tile:not(last-child) {
  margin-bottom: 12px;
}
#sha_footer {
  margin-top: 15px;
  color: rgba(49, 69, 106, 0.5);
}
#sha_footer .footer_title {
  font-size: 15px;
  display: block;
}
#sha_footer .footer_data {
  font-size: 18px;
  font-weight: 500;
  color: #31456a;
}
#sha_footer .footer_data span {
  color: rgba(49, 69, 106, 0.5);
}
.heading-department {
  color: #222 !important;
  font-size: 20px;
  font-weight: 600;
}
.department {
  color: #555 !important;
  font-size: 12px;
  font-weight: 600;
}
#input-search {
  border: none;
  height: 35px;
  line-height: 35px;
  border-radius: 20px;
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 5px;
  color: #31456a;
  font-size: 1.2em;
}

.input-group {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#btn-clear {
  border: none;
  color: #fff;
  background-color: #31456a;
  width: 60px;
  height: 82px;
  position: absolute;
  top: -1px;
  right: 0;

  padding: 18px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
  text-align: center;
}
#btn-clear:hover {
  background-color: #59719c;
}
::placeholder {
  font-size: 1em;
}
#label-input {
  position: absolute;
  color: transparent;
}
